<!--Store this code in 'index.html' file inside the 'templates' folder-->
<html lang="en">
	<head>
		<title>PROTECTED PAGE</title>
		<link rel="stylesheet" href="../static/style.css">
	</head>

	<body bgcolor="#e6ffee">
		<div class="one">
			<div class="two">
				<h1>Side Bar</h1>
				<ul>
					<li class="active"><a href="{{url_for('index')}}">Index</a></li>
					<li><a href="{{url_for('display')}}">Display</a></li>
					<li><a href="{{url_for('update')}}">Update</a></li>
					<li><a href="{{url_for('logout')}}">Log out</a></li>
                    <li><a href="{{url_for('protected')}}">PROTECTED</a></li>
				</ul>
			</div>
			<div class="content" align="center">
				<div class="topbar">
					<h2>Welcome!! You are in the protected page!! </h2>					
				</div></br></br>
				<div class="contentbar">
					<div class="msg">{{ msg }}</div>
                    <img src="static/rickroll-roll.gif" alt="Rick Astley - Never Gonna Give You Up">
				</div>
				
			</div>
		</div>
	</body>
</html>
